{% extends "indiesart.html" %}

{% load helpers %}

{% block content %}

<div id="iphone_frame">
    <iframe src="http://player.vimeo.com/video/27741490?portrait=0&autoplay=1" width="300" height="420" frameborder="0"></iframe>
</div>

<div id="iphone_desc" class="round">
    <h3>All the IndiesArt.com Database into your iPhone</h3>
    <p class="text">
        Get the indiesArt pictures everywhere with the iPhone Application.<br/>
        Go through the artists works easily with the touch navigation.<br/>
        Share all the images to your friends via Facebook, Twitter and Email.<br/>
        Try the discover menu to get random content.<br/>
        Take a look on the video on your left to see a quick demo!<br/><br/>
        Click on the Download button to find the Application on iTunes or just search indiesart in the AppStore with your iPhone.<br/>
    </p>
    <a class="button classy" style="margin-bottom:40px" target="_blank" href="http://itunes.apple.com/us/app/indiesart.com/id454073904?mt=8">Download on iTunes</a>
</div>

<div class="clear"></div>

{% include "fb-ads.html" %}

{% endblock %}